@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-left">
        <h1 class="display-4">Data Maintenance for Octobridge</h1>
        <p>This application provides the following features:</p>
        <ul>
            <li><strong>Customers</strong>. To browse customers and then add, modify or delete them.</li>
            <li><strong>Movies</strong>. To browse movies and then add them. In-memory database.</li>
            <li><strong>Orders</strong>. To browse orders and then add, modify or delete them.</li>
            <li><strong>Products</strong>. To browse products and then add, modify or delete them.</li>
        </ul>
    </div>
